body{
    padding-top: 100px;
}

img{
    width: 80px;
    /*animation-name: mover;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;*/

    animation: mover 2s steps(10) both,
    agrandar 1s linear 2s both;/*Forma corta*/
}

img:hover{
    
        animation-play-state: paused;
        opacity: .7;
        filter:contrast(150%);
        cursor: progress;
}

@keyframes agrandar{
    0%{
        scale: 1;
    }
    25%{
        scale: 1.4;
    }
    50%{
        scale: 2;
    }
    75%{
        scale: 1.6;
    }
    100%{
        scale: 2;
    }
}

@keyframes mover{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}