.pulser{
    width: 50px;
    height: 50px;
    background: #09f;
    border-radius: 100%;
    position: relative;
    transition: all 300ms ease-in-out; /*Estado final*/
        /*ackground 300ms linear,
        scale 500ms ease-in-out,
        box-shadow 1s ease;
    /* transition-duration: 2s;
    transition-property: background, scale, box-shadow;
    para indiciar que quiero animar y que no, por temas
     de rendimiento
    transition-timing-function: ease;
    transition-delay: 1s; */
}

.pulser:hover{
    scale: 2;
    background: red;
    box-shadow: 0 0 10px red;
    transition-duration: 500ms;/*La primera animacion*/
}

@media (prefers-reduced-motion: reduce){
    .pulser{
        transition: none;
    }
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
}